<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
    width="100"
    height="100"
    viewBox="0 0 100 100"
    version="1.1"
    id="svg3"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <rect
        x="10"
        y="30"
        width="80"
        height="50"
        fill="{{ color1 }}"
        rx="5"
        ry="5"
        id="rect1" />
    <rect
        x="10"
        y="20"
        width="40"
        height="20"
        fill="{{ color1 }}"
        rx="5"
        ry="5"
        id="rect2" />
    <rect
        x="20"
        y="40"
        width="60"
        height="40"
        fill="{{ color2 }}"
        rx="3"
        ry="3"
        id="rect3" />
    <rect
        x="30"
        y="50"
        width="40"
        height="30"
        fill="{{ color1 }}"
        rx="2"
        ry="2"
        id="rect4" />
</svg>