@import url("https://fonts.cdnfonts.com/css/metropolis-2");

* {
  --color1: #ffa769;
  --color2: #fc4ca0;
  --color3: #7542e5;
  --color4: #ff4ad9;
  --color5: #ff778e;
  --color6: #fff5f6;
  --color7: #5f2eca;
  --bcolor1: #ffe7ea;
  --bcolor2: #20123b;
  --bcolor3: #2b1753;
  --bcolor4: #321c64;
  --gradient: linear-gradient(80deg,
      var(--bcolor2) 0%,
      var(--color3) 1%,
      var(--color4) 2%,
      var(--color5) 3%,
      var(--color1) 4%,
      var(--color1) 96%,
      var(--color5) 97%,
      var(--color4) 98%,
      var(--color3) 99%,
      var(--bcolor2) 100%);
}

body {
  color: var(--bcolor2);
  background-color: var(--color6);
  font-family: "Metropolis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar {
  font-weight: 800;
  color: var(--bcolor2);
  background-color: var(--color5);
  background-image: var(--gradient);
}

.navbar li a {
  font-weight: 800;
  color: var(--bcolor2);
}

.navbar li a:hover {
  text-decoration: none;
  background-color: var(--color2);
}

.footer {
  color: var(--bcolor1);
  background-color: var(--bcolor4);
  font-weight: 600;
}

.footer a {
  color: var(--color5);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/catpuccin.svg.j2";
}

.folders a {
  font-weight: 500;
  color: var(--bcolor2);
  text-decoration: none;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color7);
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 500;
  color: var(--bcolor1);
  background-color: var(--color3);
}

.tagentry label:hover {
  background-color: var(--color7);
}

.tagentry .tagtoggle:hover {
  background-color: var(--color7);
}

.column img {
  background-color: var(--bcolor1);
}

#totop:hover {
  background-color: var(--color3);
}

#totop {
  background-color: var(--color2);
  color: var(--bcolor2);
  font-weight: 600;
}