@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  --color1: #1d99f3;
  --color2: #27ae60;
  --color3: #f67400;
  --color4: #da4453;
  --color5: #eef2f5;
  --bcolor1: #a3a5ac;
  --bcolor2: #303030;
  --bcolor3: #eff0f1;
}

.navbar {
  font-weight: 600;
  color: var(--bcolor2);
  background-color: var(--bcolor1);
}

.navbar li a {
  font-weight: 500;
  color: var(--bcolor2);
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  color: var(--bcolor1);
  background-color: var(--bcolor2);
}

.footer {
  color: var(--bcolor2);
  background-color: var(--color3);
  font-weight: 500;
}

.footer a {
  color: var(--color4);
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/folder-papirus.svg.j2";
}

.folders a {
  font-weight: 600;
  color: var(--bcolor2);
  text-decoration: none;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color1);
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 400;
  background-color: var(--bcolor1);
}

.tagentry label:hover {
  background-color: var(--bcolor3);
}

.tagentry .tagtoggle:hover {
  background-color: var(--bcolor3);
}

.column img {
  background-color: var(--bcolor1);
}

#totop:hover {
  background-color: var(--color4);
}

#totop {
  background-color: var(--color5);
  color: var(--bcolor2);
  font-weight: 600;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--bcolor2);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

body {
  color: var(--bcolor2);
  background-color: var(--bcolor3);
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}