@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  --color1: #5d88ca;
  --color2: #27ae60;
  --color3: #f67400;
  --color4: #da4453;
  --color5: #212b36;
  --bcolor1: #10151a;
  --bcolor2: #d3dae3;
  --bcolor3: #141a21;

}

.navbar {
  font-weight: 600;
  color: var(--bcolor2);
  background-color: var(--color5);
}

.navbar li a {
  font-weight: 500;
  color: var(--bcolor2);
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  background-color: var(--bcolor3);
}

.footer {
  color: var(--bcolor1);
  background-color: var(--color2);
  font-weight: 500;
}

.footer a {
  color: var(--color4);
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/folder-papirus.svg.j2";
}

.folders a {
  font-weight: 600;
  color: var(--bcolor2);
  text-decoration: none;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color1);
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 400;
  background-color: var(--bcolor1);
}

.tagentry label:hover {
  background-color: var(--bcolor3);
}

.tagentry .tagtoggle:hover {
  background-color: var(--bcolor3);
}

.column img {
  background-color: var(--bcolor1);
}

#totop:hover {
  background-color: var(--color3);
}

#totop {
  background-color: var(--color5);
  color: var(--bcolor2);
  font-weight: 600;
}

body {
  color: var(--bcolor2);
  background-color: var(--bcolor3);
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}