@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
  --color1: #F28FAD; /* Pink */
  --color2: #ABE9B3; /* Green */
  --color3: #FAE3B0; /* Yellow */
  --color4: #96CDFB; /* Blue */
  --bcolor1: #F5E0DC; /* Rosewater */
  --bcolor2: #575268; /* Dark surface */
  --bcolor3: #D9E0EE; /* Surface */
  --bcolor4: #C9CBFF; /* Mauve */
}

.navbar {
  font-weight: 600;
  color: var(--bcolor2);
  background-color: var(--color1);
  font-family: "Nunito", sans-serif;
}

.navbar li a {
  font-weight: 500;
  color: var(--bcolor2);
  font-family: "Nunito", sans-serif;
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  background-color: var(--color2);
}

.footer {
  color: var(--bcolor2);
  background-color: var(--color3);
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.footer a {
  color: var(--color1);
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6H10L8 4H4C2.89543 4 2 4.89543 2 6V18C2 19.1046 2.89543 20 4 20H20C21.1046 20 22 19.1046 22 18V8C22 6.89543 21.1046 6 20 6Z' fill='%23F28FAD'/%3E%3Cpath d='M4 4H8L10 6H20C21.1046 6 22 6.89543 22 8H2C2 6.89543 2.89543 6 4 6V4Z' fill='%2396CDFB'/%3E%3Cpath d='M10 6H14L12 4H8L10 6Z' fill='%23ABE9B3'/%3E%3Cpath d='M14 6H18L16 4H12L14 6Z' fill='%23FAE3B0'/%3E%3C/svg%3E");
}

.folders a {
  font-weight: 600;
  color: var(--bcolor2);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color1);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 400;
  background-color: var(--color3);
  font-family: "Nunito", sans-serif;
}

.column img {
  background-color: var(--bcolor4);
}

#totop:hover {
  background-color: var(--color2);
}

#totop {
  background-color: var(--color1);
  color: var(--bcolor1);
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

body {
  color: var(--bcolor2);
  background-color: var(--bcolor3);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
