@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
  --color1: #F28FAD;
  --color2: #ABE9B3;
  --color3: #FAE3B0;
  --color4: #96CDFB;
  --bcolor1: #F5E0DC;
  --bcolor2: #575268;
  --bcolor3: #D9E0EE;
  --bcolor4: #C9CBFF;
}

.navbar {
  font-weight: 600;
  color: var(--bcolor2);
  background-color: var(--color1);
  font-family: "Nunito", sans-serif;
}

.navbar li a {
  font-weight: 500;
  color: var(--bcolor2);
  font-family: "Nunito", sans-serif;
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  background-color: var(--color2);
}

.footer {
  color: var(--bcolor2);
  background-color: var(--color3);
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

.footer a {
  color: var(--color1);
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/catpuccin.svg.j2";
}

.folders a {
  font-weight: 600;
  color: var(--bcolor2);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color1);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 400;
  background-color: var(--color3);
  font-family: "Nunito", sans-serif;
}

.tagentry > label:hover {
  background-color: var(--color4);
}

.column img {
  background-color: var(--bcolor4);
}

#totop:hover {
  color: var(--bcolor2);
  background-color: var(--color2);
}

#totop {
  background-color: var(--color1);
  color: var(--bcolor1);
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

body {
  color: var(--bcolor2);
  background-color: var(--bcolor3);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}