@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  --color1: #262a2b;
  --color2: #0d0e0e;
  --color3: #313537;
  --color4: #181a1b;
  --color5: #5483ef;
  --bcolor1: #e8e6e3;
  --bcolor2: #0c0d0e;
}

.navbar {
  font-weight: bold;
  color: var(--bcolor1);
  background-color: var(--color1);
}

.navbar li a {
  font-weight: bold;
  color: var(--bcolor1);
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: var(--color2);
}

.footer {
  color: var(--bcolor1);
  background-color: var(--color3);
  font-weight: 500;
}

.footer a {
  color: var(--color5);
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/folder-2.svg.j2";
}

.folders a {
  font-weight: 700;
  color: var(--color5);
  text-decoration: none;
}

.tooltiptext {
  font-weight: 400;
  background-color: var(--color3);
}

.tagentry > label:hover {
  background-color: var(--color4);
}

.column img {
  background-color: var(--bcolor2);
}

#totop:hover {
  background-color: var(--color2);
}

#totop {
  background-color: var(--color1);
  color: var(--bcolor1);
  font-weight: 800;
}

body {
  color: var(--bcolor1);
  background-color: var(--color4);
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body a {
  font-weight: 400;
  color: var(--color5);
  text-decoration: none;
}