@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.navbar {
  font-weight: bold;
  color: #e8e6e3;
  background-color: #262a2b;
}

.navbar li a {
  font-weight: bold;
  color: #e8e6e3;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #0d0e0e;
}

.license {
  color: #e8e6e3;
  background-color: #313537;
  font-weight: 500;
}

.license a {
  color: #5483ef;
  text-decoration: none;
}

.folders img {
  content: url(https://www.svgrepo.com/show/474853/gallery.svg);
}

.folders a {
  font-weight: 700;
  color: #5483ef;
  text-decoration: none;
}

.tooltiptext {
  font-weight: 400;
}

body {
  color: #e8e6e3;
  background-color: #181a1b;
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body a {
  font-weight: 400;
  color: #5483ef;
  text-decoration: none;
}
