@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  font-weight: bold;
  color: #ebebeb;
  background-color: #260000;
  font-weight: 900;
}

.navbar li a {
  font-weight: 800;
  color: #ebebeb;
}

/* Change the link color on hover */
.navbar li a:hover {
  font-weight: 900;
  text-decoration: none;
}

.license {
  color: #ebebeb;
  background-color: #191313;
  font-weight: 700;
}

.license a {
  color: #ff2727;
  text-decoration: none;
}

.license a:hover {
  font-weight: 800;
  text-decoration: none;
}

.folders img {
  content: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0' /%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M853.333333 256H469.333333l-85.333333-85.333333H170.666667c-46.933333 0-85.333333 38.4-85.333334 85.333333v170.666667h853.333334v-85.333334c0-46.933333-38.4-85.333333-85.333334-85.333333z' fill='%238e0000' /%3E%3Cpath d='M853.333333 256H170.666667c-46.933333 0-85.333333 38.4-85.333334 85.333333v426.666667c0 46.933333 38.4 85.333333 85.333334 85.333333h682.666666c46.933333 0 85.333333-38.4 85.333334-85.333333V341.333333c0-46.933333-38.4-85.333333-85.333334-85.333333z' fill='%23FF2727' /%3E%3C/g%3E%3C/svg%3E");
  fill: #f00f0f;
}

.folders a {
  font-weight: 800;
  color: #ebebeb;
  text-decoration: none;
}

.folders a:hover {
  font-weight: 900;
  text-decoration: none;
}

.row a {
  font-weight: 800;
  color: #ff2727;
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 600;
  background-color: #191313;
}

body {
  color: #ebebeb;
  background-color: #171717;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
