@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.navbar {
  font-weight: bold;
  color: #f6f6f6;
  background-color: #191b20;
  font-weight: 900;
}

.navbar li a {
  font-weight: 900;
  color: #f6f6f6;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #2c313a;
}

.license {
  color: #f6f6f6;
  background-color: #2c313a;
  font-weight: 700;
}

.license a {
  color: #528bff;
  text-decoration: none;
}

.folders img {
  content: url(https://www.svgrepo.com/show/400249/folder.svg);
}

.folders a {
  font-weight: 900;
  color: #ffd945;
  text-decoration: none;
}

.tooltiptext {
  font-weight: 600;
}

body {
  color: #f6f6f6;
  background-color: #16171d;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body a {
  font-weight: 900;
  color: #e542ff;
  text-decoration: none;
}