@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  --color1: #81f900;
  --color2: #e542ff;
  --color3: #ffd945;
  --color4: #528bff;
  --bcolor1: #f6f6f6;
  --bcolor2: #2c313a;
  --bcolor3: #191b20;
  --bcolor4: #16171d;
  --bcolor5: #0b0c0f;
}

.navbar {
  font-weight: bold;
  color: var(--bcolor1);
  background-color: var(--bcolor3);
  font-weight: 900;
}

.navbar li a {
  font-weight: 900;
  color: var(--bcolor1);
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: var(--bcolor2);
}

.footer {
  color: var(--bcolor1);
  background-color: var(--bcolor2);
  font-weight: 700;
}

.footer a {
  color: var(--color4);
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/subfolder.svg.j2";
}

.folders a {
  font-weight: 900;
  color: var(--color3);
  text-decoration: none;
}

.tooltiptext {
  font-weight: 600;
  background-color: var(--bcolor2);
}

.tagentry label:hover {
  background-color: var(--bcolor3);
}

.tagentry .tagtoggle:hover {
  background-color: var(--bcolor3);
}

.column img {
  background-color: var(--bcolor5);
}

#totop:hover {
  background-color: var(--color2);
}

#totop {
  background-color: var(--color1);
  color: var(--bcolor1);
  font-weight: 800;
}

body {
  color: var(--bcolor1);
  background-color: var(--bcolor4);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body a {
  font-weight: 900;
  color: var(--color2);
  text-decoration: none;
}