@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  --color5: #e50000;
  --color6: #ff8d00;
  --color3: #ffee00;
  --color4: #028121;
  --color1: #004cff;
  --color2: #770088;
  --bcolor1: #ebebeb;
  --bcolor2: #191919;
  --bcolor3: #171717;
  --bcolor4: #0a0a0a;
  --bcolor5: #929292;
}

.navbar {
  font-weight: bold;
  color: var(--bcolor1);
  background-color: var(--color5);
  font-weight: 900;
}

.navbar li a {
  font-weight: 800;
  color: var(--bcolor1);
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  background-color: var(--color6);
}

.footer {
  color: var(--bcolor2);
  background-color: var(--color3);
  font-weight: 700;
}

.footer a {
  color: var(--color4);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/subfolder.svg.j2";
}

.folders a {
  font-weight: 800;
  color: var(--bcolor3);
  text-decoration: none;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 800;
  color: var(--color4);
  text-decoration: none;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 600;
  background-color: var(--bcolor2);
}

.tagentry > label:hover {
  background-color: var(--bcolor4);
}

.column img {
  background-color: var(--bcolor5);
}

#totop:hover {
  background-color: var(--color3);
}

#totop {
  background-color: var(--color6);
  color: var(--bcolor4);
  font-weight: 800;
}

body {
  color: var(--bcolor3);
  background-color: var(--bcolor1);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}