@import url("https://fonts.googleapis.com/css2?family=Lora:wght@300;400;500;600;700&display=swap");

* {
  --color1: #FFB6C1; /* LightPink */
  --color2: #98FB98; /* PaleGreen */
  --color3: #FFD700; /* Gold */
  --color4: #87CEFA; /* LightSkyBlue */
  --bcolor1: #FFFFFF; /* White */
  --bcolor2: #2F4F4F; /* DarkSlateGray */
  --bcolor3: #FAF0E6; /* Linen */
  --bcolor4: #E6E6FA; /* Lavender */
}

.navbar {
  font-weight: 600;
  color: var(--bcolor2);
  background-color: var(--color1);
  font-family: "Lora", serif;
}

.navbar li a {
  font-weight: 500;
  color: var(--bcolor2);
  font-family: "Lora", serif;
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  background-color: var(--color2);
}

.footer {
  color: var(--bcolor2);
  background-color: var(--color3);
  font-weight: 500;
  font-family: "Lora", serif;
}

.footer a {
  color: var(--color4);
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0' /%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M853.333333 256H469.333333l-85.333333-85.333333H170.666667c-46.933333 0-85.333333 38.4-85.333334 85.333333v170.666667h853.333334v-85.333334c0-46.933333-38.4-85.333333-85.333334-85.333333z' fill='%2387CEFA' /%3E%3Cpath d='M853.333333 256H170.666667c-46.933333 0-85.333333 38.4-85.333334 85.333333v426.666667c0 46.933333 38.4 85.333333 85.333334 85.333333h682.666666c46.933333 0 85.333333-38.4 85.333334-85.333333V341.333333c0-46.933333-38.4-85.333333-85.333334-85.333333z' fill='%23FFB6C1' /%3E%3C/g%3E%3C/svg%3E");
  fill: var(--color1);
}

.folders a {
  font-weight: 600;
  color: var(--bcolor2);
  text-decoration: none;
  font-family: "Lora", serif;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color2);
  text-decoration: none;
  font-family: "Lora", serif;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 400;
  background-color: var(--bcolor2);
  font-family: "Lora", serif;
}

.column img {
  background-color: var(--bcolor4);
}

#totop:hover {
  background-color: var(--color2);
}

#totop {
  background-color: var(--color1);
  color: var(--bcolor1);
  font-weight: 600;
  font-family: "Lora", serif;
}

body {
  color: var(--bcolor2);
  background-color: var(--bcolor3);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
