@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  --color1: #00CED1;
  /* DarkTurquoise */
  --color2: #4682B4;
  /* SteelBlue */
  --color3: #B0C4DE;
  /* LightSteelBlue */
  --color4: #5F9EA0;
  /* CadetBlue */
  --bcolor1: #FFFFFF;
  /* White */
  --bcolor2: #2F4F4F;
  /* DarkSlateGray */
  --bcolor3: #E0E0E0;
  /* LightGray */
  --bcolor4: #D3D3D3;
  /* LightGray */
}

.navbar {
  font-weight: 600;
  color: var(--bcolor2);
  background-color: var(--color1);
  font-family: "Montserrat", sans-serif;
}

.navbar li a {
  font-weight: 500;
  color: var(--bcolor2);
  font-family: "Montserrat", sans-serif;
}

/* Change the link color on hover */
.navbar li a:hover {
  text-decoration: none;
  background-color: var(--color2);
}

.footer {
  color: var(--bcolor2);
  background-color: var(--color3);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.footer a {
  color: var(--color2);
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: none;
}

.foldericon {
  content: "themes/icons/folder-3.svg.j2";
}

.folders a {
  font-weight: 600;
  color: var(--bcolor2);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.folders a:hover {
  text-decoration: none;
}

.row a {
  font-weight: 500;
  color: var(--color2);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.row a:hover {
  text-decoration: underline;
}

.tooltiptext {
  font-weight: 400;
  color: var(--bcolor3);
  background-color: var(--bcolor2);
  font-family: "Montserrat", sans-serif;
}

.column img {
  background-color: var(--bcolor4);
}

#totop:hover {
  background-color: var(--color2);
}

#totop {
  background-color: var(--color1);
  color: var(--bcolor1);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

body {
  color: var(--bcolor2);
  background-color: var(--bcolor3);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}