<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="512" height="512" viewBox="0 0 512 512" version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
    <g id="g0" transform="matrix(5.8227235,0,0,5.8227235,69.672843,69.672843)">
        <g id="g1">
            <rect x="6" y="6" width="24" height="24" rx="4" ry="4" fill="{{ colorscheme.color1 }}" id="rect1" />
            <path d="m 10,20 6,-6 4,4 2,-2 4,4" stroke="#ffffff" stroke-width="2" fill="none" id="path1" />
            <circle cx="13" cy="11" r="2" fill="#ffffff" id="circle1" />
        </g>
        <g id="g2">
            <rect x="34" y="6" width="24" height="24" rx="4" ry="4" fill="{{ colorscheme.color2 }}" id="rect2" />
            <path d="m 38,20 6,-6 4,4 2,-2 4,4" stroke="#ffffff" stroke-width="2" fill="none" id="path2" />
            <circle cx="41" cy="11" r="2" fill="#ffffff" id="circle2" />
        </g>
        <g id="g3">
            <rect x="6" y="34" width="24" height="24" rx="4" ry="4" fill="{{ colorscheme.color3 }}" id="rect3" />
            <path d="m 10,48 6,-6 4,4 2,-2 4,4" stroke="#ffffff" stroke-width="2" fill="none" id="path3" />
            <circle cx="13" cy="39" r="2" fill="#ffffff" id="circle3" />
        </g>
        <g id="g4">
            <rect x="34" y="34" width="24" height="24" rx="4" ry="4" fill="{{ colorscheme.color4 }}" id="rect4" />
            <path d="m 38,48 6,-6 4,4 2,-2 4,4" stroke="#ffffff" stroke-width="2" fill="none" id="path4" />
            <circle cx="41" cy="39" r="2" fill="#ffffff" id="circle4" />
        </g>
    </g>
</svg>