<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {%- if webmanifest %}
  <link rel="manifest" href="/.static/manifest.json">
  {%- endif %}
  <link rel="preload" href="{{ stylesheet }}" as="style">
  {%- if theme %}
  <link rel="preload" href="{{ theme }}" as="style">
  {%- endif %}
  <link rel="icon" type="image/x-icon" href="{{ favicon }}">
  <link rel="stylesheet" href="{{ stylesheet }}">
  {%- if theme %}
  <link rel="stylesheet" href="{{ theme }}">
  {%- endif %}
</head>

<body>
  <div class="header">
    <ul class="navbar">
      <li><a href="{{ root }}">Home</a></li>
      {%- if parent %}
      <li><a href="{{ parent }}">Parent Directory</a></li>
      {%- endif %}
      <li class="title"><span class="header">{{ header }}</span></li>
    </ul>
  </div>
  {%- if licensefile %}
  <div class="licensefile">
    {{ licensefile }}
  </div>
  {%- endif %}
  {% if license %}
  {%- if 'CC' in license.type %}
  <div class="footer" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    {%- if license.type == 'CC0 1.0' %}
    <a property="dct:title" rel="cc:attributionURL" href="{{ root }}">{{ license.project }}</a> by <span property="cc:attributionName">{{ license.author }}</span> is marked with
    <a href="{{ license.url }}" target="_blank" rel="license noopener noreferrer" style="display: inline-block">CC0 1.0
      {%- for pic in license.pics %}
      <img style="height: 22px !important; margin-left: 3px; vertical-align: text-bottom" src="{{ pic }}" alt="" />
      {%- endfor %}
    </a>
    {%- else %}
    <a property="dct:title" rel="cc:attributionURL" href="{{ root }}">{{ license.project }}</a> by <span property="cc:attributionName">{{ license.author }}</span> is licensed under
    <a href="{{ license.url }}" target="_blank" rel="license noopener noreferrer">{{ license.type }}
      {%- for pic in license.pics %}
      <img src="{{ pic }}" alt="" />
      {%- endfor %}
    </a>
    {%- endif %}
    <span class="attribution">Made with <a href="https://github.com/greflm13/StaticGalleryBuilder" target="_blank" rel="noopener noreferrer">StaticGalleryBuilder {{ version }}</a> by <a
        href="https://github.com/greflm13" target="_blank" rel="noopener noreferrer">{{ logo }}</a>.</span>
    <button type="button" onclick="topFunction()" id="totop" title="Back to Top">Back to Top</button>
  </div>
  {%- endif %}
  {%- else %}
  <div class="footer">
    <span class="attribution">Made with <a href="https://github.com/greflm13/StaticGalleryBuilder" target="_blank" rel="noopener noreferrer">StaticGalleryBuilder {{ version }}</a> by <a
        href="https://github.com/greflm13" target="_blank" rel="noopener noreferrer">{{ logo }}</a>.</span>
    <button type="button" onclick="topFunction()" id="totop" title="Back to Top">Back to Top</button>
  </div>
  {%- endif %}
</body>