{
    "name": "{{ name }}",
    "short_name": "{{ short_name }}",
    "description": "{{ name }} - A static web gallery - made with StaticGalleryBuilder (https://github.com/greflm13/StaticGalleryBuilder)",
    "icons": [
        {% for icon in icons -%}
        {
            "src": "{{ icon.src }}",
            "sizes": "{{ icon.sizes }}",
            "type": "{{ icon.type }}",
            "purpose": "maskable"
        }{% if not loop.last %},{% endif %}
        {%- endfor %}
    ],
    "id": "/",
    "start_url": "/",
    "background_color": "{{ background_color }}",
    "display": "standalone",
    "scope": "/",
    "theme_color": "{{ theme_color }}"
}