* {
  box-sizing: border-box;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 56px;
  font-family: Arial;
  height: 100%;
}

.folders {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.folders figure {
  margin-bottom: 32px;
  margin-top: 50px;
  width: 180px;
}

.header h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.folders img {
  width: 100px;
  vertical-align: middle;
}

.folders figcaption {
  width: 100%;
  overflow: hidden;
  font-size: smaller;
  text-align: center;
}

.folderthumb {
  height: 40px;
  width: 70px !important;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: 20px 20px 0px -90px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 2px;
}

figure {
  margin: 0;
}

.licensefile {
  padding: 30px;
}

.caption {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  display: block;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: xx-small;
  padding: 6px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 6px;
  min-height: calc(6.75pt + 12px);
}

.footer a {
  display: inline-block;
}

.footer a img {
  height: 22px !important;
  margin-left: 3px;
  vertical-align: text-bottom;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-app-region: drag;
  font-size: large;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .navleft {
  float: left;
}

.navbar .navcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .navright {
  float: right
}

.navbar li .header {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip .tooltiptext {
  display: none;
  cursor: default;
  width: max-content;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
  float: left;
  max-height: 286px;
  overflow: scroll;
}

.tooltip .infotext {
  padding: 12px;
}

.tooltip .tagdropdown {
  padding: 0;
}

.tooltip:hover .tooltiptext {
  display: block;
  opacity: 1;
}

.tooltip:active .tooltiptext {
  display: block;
  opacity: 1;
}

.tooltip .tooltiptext .tagentry {
  list-style: none;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.tooltip .tooltiptext .tagentry label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 12px;
  display: block;
}

.column {
  -ms-flex: 12.5%;
  flex: 12.5%;
  max-width: 12.5%;
  padding: 0 4px;
  display: inline-block;
}

.column img {
  margin-top: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  cursor: pointer;
}

.attribution svg {
  height: calc(6.75pt + 12px);
  width: fit-content;
  position: relative;
  bottom: -8px;
  right: 0px;
}

#totop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 14px;
  border-radius: 10px;
  border-style: none;
}

@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  .folders figure {
    width: 160px;
  }

  .folders img {
    width: 80px;
  }

  .folders figcaption {
    font-size: small;
  }

  .folderthumb {
    height: 30px;
    width: 50px !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 15px 20px 0px -70px;
  }

  .navbar {
    font-size: medium;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .folders figure {
    width: 140px;
  }

  .folders img {
    width: 60px;
  }

  .folders figcaption {
    font-size: x-small;
  }

  .folderthumb {
    height: 25px;
    width: 30px !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 10px 20px 0px -50px;
  }

  .navbar {
    font-size: small;
  }

  .navbar li a {
    padding: 10px 8px;
  }

  .navbar li .header {
    padding: 10px 8px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .folders figure {
    width: 120px;
  }

  .folders img {
    width: 40px;
  }

  .folders figcaption {
    font-size: xx-small;
  }

  .folderthumb {
    height: 15px;
    width: 20px !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 5px 10px 0px -35px;
  }

  .navbar {
    font-size: xx-small;
  }

  .navbar li a {
    padding: 8px 7px;
  }

  .navbar li .header {
    padding: 8px 7px;
  }
}