* {
  box-sizing: border-box;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 56px;
  font-family: Arial;
  height: 100%;
}

.folders {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.folders figure {
  margin-bottom: 32px;
  margin-top: 50px;
  width: 180px;
}

.header h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.folders img {
  width: 100px;
  vertical-align: middle;
}

.folders figcaption {
  width: 100%;
  overflow: hidden;
  font-size: smaller;
  text-align: center;
}

.folderthumb {
  height: 40px;
  width: 70px !important;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: 20px 20px 0px -90px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 2px;
}

.centerload {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
}

.caption {
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  display: block;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 6px;
  height: calc(9.75pt + 12px);
  font-size: small;
}

.footer a {
  display: inline-block;
}

.footer a img {
  height: 9.75pt !important;
  margin-left: 3px;
  vertical-align: text-bottom;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-app-region: drag;
  font-size: large;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 1.222em;
  box-sizing: content-box;
}

.navbar .navleft {
  float: left;
  height: 100%;
}

.navbar .navcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.navbar .navright {
  float: right;
  height: 100%;
}

.navbar li .header {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip a {
  cursor: pointer;
}

.tagtoggle {
  cursor: pointer;
  float: right;
  padding: 12px;

}

.tagflex {
  display: flex;
}

.tag {
  flex: 1;
}

input {
  pointer-events: none;
}

.tooltiptext {
  cursor: default;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
  float: left;
  max-height: 286px;
  overflow: scroll;
}

.tooltip .infotext {
  padding: 12px;
  width: max-content;
}

.tooltiptext.tagdropdown {
  width: max-content;
  right: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.tooltiptext.tagdropdown.show {
  max-height: 80vh;
  overflow-y: scroll;
  opacity: 1;
}

.tooltip:hover .infotext {
  display: block;
  opacity: 1;
}

.tooltip:active .infotext {
  display: block;
  opacity: 1;
}

.tagentryparent {
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.tagentryparent.show {
  max-height: 80vh;
  opacity: 1;
  overflow-y: scroll;
}

.tagentry {
  list-style: none;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: block;
}

.tooltip .tooltiptext ol {
  margin-left: 0;
  padding-left: 0.5em;
}

.tooltip .tooltiptext .tagentry label {
  cursor: pointer;
  height: 100%;
  padding: 12px;
  display: block;
}

.column {
  -ms-flex: 12.5%;
  flex: 12.5%;
  max-width: 12.5%;
  padding: 0 4px;
  display: inline-block;
}

.column img {
  margin-top: 20px;
  width: 100%;
  display: block;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  cursor: pointer;
}

.attribution svg {
  height: calc(6.75pt + 12px);
  width: fit-content;
  position: relative;
  bottom: -8px;
  right: 0px;
}

#totop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 14px;
  border-radius: 10px;
  border-style: none;
}

.darkmodeswitch a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: relative;
}

.darkmodeswitch a input[type="checkbox"] {
  position: absolute;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.darkmodeswitch a .knobs {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.25em;
  position: relative;
  width: 100%;
}

.darkmodeswitch a .light,
.darkmodeswitch a .dark {
  position: relative;
  top: -0.111em;
}

.darkmodeswitch a .slider {
  position: absolute;
  width: calc(2em - 2px);
  height: calc(2em - 2px);
  border: 1px solid currentColor;
  border-radius: 3px;
  top: calc(50% - 2px);
  transform: translate(-50%, -50%);
  transition: left 0.25s ease, transform 0.25s ease;
  left: calc(50% - 1em + 1px);
}

.darkmodeswitch a input[type="checkbox"]:checked+.knobs .slider {
  left: calc(50% + 1em - 1px);
}

.imgprefetch {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  .footer {
    font-size: small;
  }

  .footer a img {
    height: 9.75pt !important;
  }

  .folders figure {
    width: 160px;
  }

  .folders img {
    width: 80px;
  }

  .folders figcaption {
    font-size: small;
  }

  .folderthumb {
    height: 30px;
    width: 50px !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 15px 20px 0px -70px;
  }

  .navbar {
    font-size: medium;
  }
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .footer {
    font-size: x-small;
  }

  .footer a img {
    height: 7.5pt !important;
  }

  .folders figure {
    width: 140px;
  }

  .folders img {
    width: 60px;
  }

  .folders figcaption {
    font-size: x-small;
  }

  .folderthumb {
    height: 25px;
    width: 30px !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 10px 20px 0px -50px;
  }

  .navbar {
    font-size: small;
  }

  .navbar li a {
    padding: 10px 8px;
  }

  .navbar li .header {
    padding: 10px 8px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .footer {
    font-size: xx-small;
  }

  .footer a img {
    height: 6.75pt !important;
  }

  .folders figure {
    width: 120px;
  }

  .folders img {
    width: 40px;
  }

  .folders figcaption {
    font-size: xx-small;
  }

  .folderthumb {
    height: 15px;
    width: 20px !important;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin: 5px 10px 0px -35px;
  }

  .navbar {
    font-size: xx-small;
  }

  .navbar li a {
    padding: 8px 7px;
  }

  .navbar li .header {
    padding: 8px 7px;
  }
}